.App {
  text-align: center;

  display: flex;
  flex-direction: column;
  
  height: 100vh;
}

.App-logo {
  height: 60px;
  float: left;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

.App-content {
  flex: 1;
  align-self: center;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (min-width: 400px) {
  .App-content {
      flex-direction: row;
      width: 100vw;
  }
}