.Laundry-machine {
    border: 1px solid black;
    border-radius: 5px;
    
    width: 200px;
    height: 200px;

    display: flex;
    flex-direction: column;

    align-self: center;
}
.draw {
    background-color: #ffbdbd;
}
.no_draw {
    background-color: #e1f7d5;
}
.draw_unknown {
    background-color: lightgrey;
}

.Machine-name {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}